.navbar {
    background-color: #ec7a5d;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    color: #3f2119;
}

.navbar-brand:hover {
    color: #3f2119;
}

.navbar-brand:visited {
    color: #3f2119;
}

.nav-link {
    color: #3f2119;
}

.nav-link:hover {
    color: #3f2119;
}

.nav-link:visited {
    color: #3f2119;
}

.navbar-toggler {
    background-color: #3f2119;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.title-div {
    width: 50%;
}

.main-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    color: #3f2119;
}

.main-title-small {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: #3f2119;
}

.blurb-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: #3f2119;
}

.buttons {
    color: white;
    background-color: #3f2119;
}

p {
    color: #110907;
}

.grid {
    width: 75%;
}

.album-title {
    color: #3f2119;
}

.profile-card {
    background-color: #ec7a5d;
    color: #3f2119;
}

.profile-picture {
    border-radius: 50%;
    width: 75%;
    margin: auto;
}

.favorite-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: #3f2119;
}

.favorite {
    width: 25px;
}

.favorite-link {
    text-decoration: none;
}

.favorite-name {
    color: #3f2119;
    margin: auto;
}

.remove-button {
    background-color: #ecaf9f;
}

.search-result {
    width: 75%;
    margin: auto;
}

.search-result-link {
    text-decoration: none;
}

.search-result-picture-artist {
    border-radius: 50%;
    width: 50%;
}

.search-result-picture-album {
    width: 50%;
}

.search-result-picture-track {
    width: 50%;
}

.search-result-picture-user {
    width: 100%;
}

.search-result-name {
    color: #3f2119;
}

.search-result-button {
    padding-top: 2px;
    margin: 0;
}

.star-icon {
    color: #ec7a5d;
}

.star-icon-dark {
    color: #3f2119;
}

.album-cover {
    width: 75%;
    margin: auto;
}

.artist-name-link {
    color: #3f2119;
    text-decoration: none;
    font-weight: bold;
}

.artist-name-link:hover {
    color: #ec7a5d;
    text-decoration: none;
    font-weight: bold;
}

.artist-card {
    background-color: #ec7a5d;
    color: #3f2119;
}

.artist-card-list-header {
    background-color:#3f2119;
    color: white;
}

.artist-card-list {
    color: #3f2119;
}

.artist-card-link {
    color: #3f2119;
    text-decoration: none;
    font-weight: bold;
}

.artist-card-link:hover {
    color: #ec7a5d;
    text-decoration: none;
    font-weight: bold;
}

.album-card {
    background-color: #ec7a5d;
    color: #3f2119;
}

.album-card-artist-link {
    color: #3f2119;
    text-decoration: none;
    font-weight: bold;
}

.album-card-artist-link:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}